DB_URL=jdbc:postgresql://localhost:5432/jobtrackr_ai
DB_USERNAME=postgres
DB_PASSWORD=postgres
JWT_SECRET=ZGV2ZWxvcG1lbnQtand0LXNlY3JldC1mb3Itam9idHJhY2tyLWFpLXRva2VuLTEyMzQ1Njc4OTA=
JWT_EXPIRATION_MS=86400000
PORT=8080
